* {
  box-sizing: border-box;
}

nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 40;
}

#login {
  color: #4caf4f;
  border: none;
  background-color: white;
}

#signup {
  background-color: #4caf4f;
  color: white;
  border: none;
  width: 6rem;
  padding: 0.8rem;
  border-radius: 0.6rem;
}

li {
  font-size: 1.3rem;
  color: #333;
}

.lesson_div_one {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  gap: 0.8rem;
}

.lesson_div_one h1 {
  font-size: 4rem;
  font-weight: 900;
}

#heading_two {
  color: #4caf4f;
}

#register_btn {
  background-color: #4caf4f;
  color: white;
  width: 8rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
}

.learn_btn {
  background-color: #4caf4f;
  color: white;
  width: 10rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
}

@media screen and (max-width: 768px) {
  .img_section {
    width: 300px;
    padding: 0rem 0rem 0rem 2rem;
  }

  .lesson_div_one h1 {
    font-size: 2rem;
    font-weight: 900;
  }
}

#Demo_btn {
  background-color: #4caf4f;
  color: white;
  width: 12rem;
  border-radius: 0.5rem;
  padding: 0.8rem;
  position: relative;
  border: none;
}

#demo_heading {
  font-size: 4rem;
}

a {
  text-decoration: none;
  color: white;
}

input {
  background-color: rgb(83, 93, 98);
  color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 17rem;
  border: none;
}

input::placeholder {
  color: rgb(189, 196, 199);
  padding-left: 0.4rem;
}

.marketing_containers {
  position: relative;
  border-radius: 15px;
  margin-bottom: 5rem;
}

.marketing_icon {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
}

.marketing_icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card {
  position: absolute;
  bottom: -75px;
  left: 10%;
  right: 10%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.readmore {
  color: #4caf4f;
}

.readmore span {
  margin-left: 5px;
}

@media (min-width: 991px) {
  .Tesla_Logo_Container {
    display: flex;
  }
}
@media (max-width: 991px) {
  #demo_heading {
    font-size: 3rem;
  }
  .card {
    height: 10.8rem;
    position: absolute;
    bottom: -75px;
    left: 10%;
    right: 10%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    z-index: 10;
    padding: 10px;
  }
}

.tesla_para {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(113, 113, 113, 1);
}
